<h1>Campaigns</h1>

<table>
	<tr>
		<th>Campaign ID</th>
		<th>Name</th>
		<th>Start date</th>
		<th>End date</th>
		<th>Spend amount</th>
	</tr>
	<% @campaigns.each do |campaign| %>
	<tr>
		<td><%= campaign.id %></td>
		<td><%= campaign.name %></td>
		<td><%= campaign.start_date %></td>
		<td><%= campaign.end_date %></td>
		<td><%= campaign.spend_amount %></td>
	</tr>
	<% end %>
</table>