<!DOCTYPE html>
<html>
	<head>
		<title>Metrics</title>
		<%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag "jquery-1.4.2.js" %>
		<%= javascript_include_tag "modernizr-1.1.min.js" %>
	  <%= javascript_include_tag "application.js" %>
	  <%= csrf_meta_tag %>
	</head>
	<body class="metrics">
		<div class="wrapper">
		<%= yield %>
		</div><!-- .wrapper -->
	</body>
</html>